.botao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao button {
    margin-top:64px;
    padding: 16px;
    border-radius: 8px;
    /* box-shadow: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.5); */
    border: none;
    cursor: pointer;
    background-color: #82d082;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}